<h1>グラフ2種類</h1>

<div class="graph-container"> 
  <button id="toggle-button">Toggle Graphs</button>
  <div id="chart-container" style="display: block;">
    <%= render partial: 'shared/line' %>
  </div>
  <div id="line-container" style="display: none;">
    <%= render partial: 'shared/chart' %>
  </div>
</div>

<script type="text/javascript">
  document.getElementById('toggle-button').addEventListener('click', function() {
    var chartContainer = document.getElementById('chart-container');
    var lineContainer = document.getElementById('line-container');

    if (chartContainer.style.display === 'block') {
      chartContainer.style.display = 'none';
      lineContainer.style.display = 'block';
    } else {
      chartContainer.style.display = 'block';
      lineContainer.style.display = 'none';
    }
  });
</script>