<div>
  <div id="token-container">
    <button id="show-token-btn">トークンを表示</button>
    <p id="token" style="display: none;"><%= current_user.custom_token %></p>
  </div>
</div>

<script>
  document.getElementById('show-token-btn').addEventListener('click', function() {
    var token = document.getElementById('token');
    token.style.display = 'block';
  });
</script>

<form id="date-form">
  <label for="date-picker">日付を選択:</label>
  <input type="date" id="date-picker" name="date">
  <button type="submit">選択</button>
</form>

<script>
document.getElementById('date-form').addEventListener('submit', function(event) {
  event.preventDefault();  // デフォルトのフォーム送信を阻止
  const selectedDate = document.getElementById('date-picker').value;

  if (!selectedDate) {
    alert('日付を選択してください。');
    return;
  }

  const url = `/dashboard/show?date=${selectedDate}`;
  console.log('Redirecting to URL:', url);  // リダイレクトするURLをログに表示
  window.location.href = url;  // URLにリダイレクト
});

</script>

<div class="graph-container">
  <label for="toggle-graphs" >
    <span class="label-text"></span>
    <input type="checkbox" id="toggle-graphs" class="toggle" /> <!-- `checked`属性を削除 -->
  </label>
  <div id="chart-container" style="display: block;">
    <%= render partial: 'shared/line' %>
  </div>
  <div id="line-container" style="display: none;">
    <%= render partial: 'shared/chart' %>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var toggleSwitch = document.getElementById('toggle-graphs');

    // `toggleSwitch.checked`の代わりに`false`を引数として渡す
    initializeGraphDisplay(false);

    toggleSwitch.addEventListener('change', function() {
      updateGraphDisplay(this.checked);
    });
  });

  function updateGraphDisplay(isChecked) {
    var chartContainer = document.getElementById('chart-container');
    var lineContainer = document.getElementById('line-container');

    if (isChecked) {
      chartContainer.style.display = 'none';
      lineContainer.style.display = 'block';
    } else {
      chartContainer.style.display = 'block';
      lineContainer.style.display = 'none';
    }
  }

  function initializeGraphDisplay(isChecked) {
    updateGraphDisplay(isChecked);
  }
</script>
