<!DOCTYPE html>
<html>
<head>
    <title>StudyLine Gem 使用方法</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        h2 {
            color: #333;
        }
        code {
            background-color: #f4f4f4;
            padding: 2px 5px;
            border-radius: 3px;
            font-family: 'Courier New', Courier, monospace;
        }
        pre {
            background-color: #f4f4f4;
            padding: 10px;
            border-radius: 5px;
            font-family: 'Courier New', Courier, monospace;
            overflow-x: auto; /* 長いコードのスクロールバー対応 */
        }
        .copy-button {
            margin-left: 10px; /* コピーボタンとコードの間隔 */
            vertical-align: middle; /* ボタンをコードの中央に配置 */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>StudyLine gem 使用方法</h1>
        <section>
            <h2>Rubyのバージョン確認</h2>
            <p>Gem <code>study_line</code> はRuby 2.6.0以上でのみ使用可能です。</p>
            <p>Rubyのバージョンを確認するには、以下のコマンドを実行します：</p>
            <pre><code>ruby -v</code> <button class="btn btn-xs btn-outline copy-button">Copy</button></pre>
        </section>

        <section>
            <h2>Gemのインストール</h2>
            <pre><code>gem install study_line</code><button class="btn btn-xs btn-outline copy-button">Copy</button></pre>
            <p>これにより、ターミナルから以下のコマンドが使用可能になります。</p>
        </section>

        <section>
            <h2>環境変数にトークンを保存</h2>
            <p>以下のコマンドでホームディレクトリ直下にstl_configというファイルを作成しトークンを保存します。</p>
            <pre><code>stl configure <%= current_user.custom_token %> https://studyline-4bc305606476.herokuapp.com/api/study_sessions</code><button class="btn btn-xs btn-outline copy-button">Copy</button></pre><br>
        </section>

        <section>
            <h2>コマンド</h2>
            <ul>
                <li><code>stl show</code>: 保存されてりるトークンを表示します</li>
                <li><code>stl start</code>: 学習開始</li>
                <li><code>stl finish</code>: 学習終了</li>
            </ul>
        </section>

        <section>
            <h2>オプション</h2>
            <p>タグと学習時間の記録を作成することができます。 例：</p>
            <code>stl start -t "タグ名"</code>
        </section>
    </div>

        <script>
        document.querySelectorAll('.copy-button').forEach(button => {
            button.addEventListener('click', function() {
                const code = this.previousElementSibling.innerText;
                navigator.clipboard.writeText(code).then(() => {
                    alert('コピーしました: ' + code);
                });
            });
        });
    </script>

</body>
</html>
