@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: fixed;
  top: 0; 
  left: 0;
  right: 0;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 300px; /* フッターの高さに合わせて調整 */
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}