<footer class="footer footer-center p-10 bg-primary text-primary-content">

    <div class="footer-links">
    <% if user_signed_in? %>
    <a href="/dashboard/how_to_use" class="footer-link">使い方</a>
    <%end%>
    <a href="#" class="footer-link">プライバシーポリシー</a>
    <a href="#" class="footer-link">利用規約</a>
  </div>