<footer class="footer footer-center p-10 bg-primary text-primary-content">

    <div class="footer-links">
    <a href="#" class="footer-link">プライバシーポリシー</a>
    <a href="#" class="footer-link">利用規約</a>
  </div>